  
.background {
    color:white;
    
  }
  
  .Form {
    
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('comp-4.jpg');
    background-size: cover;
    width: 40vw;
    height: 70vh;
   
    padding: 20px;
    border-radius: 8px;
   
  }
  
  .Form h2 {
    margin-bottom: 20px;
    color:black; 
  }
  
  .Form h6 {
    color: #f44336; 
  }
  
  .Form .MuiTextField-root {
    margin-bottom: 20px;
    width: 100%;
  }
 
  
 
  