/* 
.background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
} */

/* 
.h3{
    
    background-color: rgb(155, 188, 231);
    border-left: 6px solid rgb(205, 229, 255);
    width: 300px;
    text-align: center;
      
}
   */
  

  /* Form.css */

.background {
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-family: 'Roboto', sans-serif; 
    color:white;
  }
  
  .Form {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white; 
    padding: 15px;
    border-radius: 8px;
   
  }
  
  .Form h2 {
    margin-bottom: 20px;
    color:black; 
  }
  
  .Form h6 {
    color: #f44336; 
  }
  
  .Form .MuiTextField-root {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .h3 {
    margin-top: 20px;
  }
  
  .MuiButtonBase-root {
    margin-top: 20px;
    width: 100%;
  }
  